<div class="ui segment">
  <h3 class="ui right aligned header">
    <%= link_to "商品一覧", products_path %>
    <%= link_to "レビュー一覧", reviews_path %>
    <%= link_to "カテゴリ一覧", categories_path %>
    <%= link_to "スクレイピング", products_scraping_path %>
  </h3>
</div>